html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: crosshair;
  background-color: #000;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
